@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --theme-color: #2f80ed;
  --background-color: #f2f2f2;

  --primary-font: Poppins, sans-serif;
  --secondary-font: Noto Sans, sans-serif;
  --font-color: #333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

/* ----------------------------------------------------------- navbar */
.navbar-container {
  height: 4.26931rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.navbar-inner {
  width: 100%;
  height: 100%;
  max-height: 4.26931rem;
  max-width: 81rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.site-logo {
  display: flex;
  align-items: flex-end;
  color: var(--font-color);
  font-family: var(--primary-font);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.03938rem;
  text-decoration: none;
}

.site-logo > img {
  width: 2.5625rem;
  height: 1.80769rem;
  flex-shrink: 0;
}

.site-logo > span {
  display: none;
}

.nav-tabs {
  display: none;
}

.current-user {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.current-user > img {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background: #c4c4c4;
}

.current-user > span {
  display: none;
}

.fa-caret-down {
  display: none;
}

/* ------------------------------------------------------- mobile nav */
.mobile-nav-container {
  width: 100%;
  height: 4.26931rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  bottom: 0;
}

.mobile-nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-inner > a {
  width: 7.5rem;
  height: 2.57306rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #828282;
  border-radius: 0.5rem;
  text-decoration: none;
}

.mobile-nav-inner > a.active {
  color: var(--theme-color);
}

.mobile-nav-inner > a.active > div {
  width: 5rem;
  height: 0.1875rem;
  background-color: var(--theme-color);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  position: absolute;
  bottom: 0;
}

.fa-house,
.fa-compass,
.fa-bookmark {
  font-size: 1.2rem;
}

/* ----------------------------------------------------- nav dropdown */
.nav-dropdown {
  padding: 0.95rem 0.87rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 4.6887rem;
  border-radius: 0.75rem;
  border: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  cursor: default;
}

.menu-items {
  border-bottom: 0.0625rem solid #e0e0e0;
}

.menu-items > div,
.menu-logout > div {
  width: 10.25738rem;
  height: 2.44694rem;
  padding: 0 0.73rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-items > div:last-of-type {
  margin-bottom: 0.66rem;
}

.menu-logout {
  margin-top: 0.66rem;
}

.menu-items > div > div {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-items > div > div > i,
.menu-logout > div > div > i {
  font-size: 1rem;
}

.menu-items > div > a,
.menu-logout > div > a {
  width: 100%;
  margin-left: 0.63rem;
  color: #4f4f4f;
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02625rem;
  text-decoration: none;
  user-select: none;
}

.menu-logout > div > a,
.fa-solid.fa-arrow-right-from-bracket {
  color: #eb5757;
}

.fa-solid.fa-user-group {
  font-size: 0.8rem;
}

@media (min-width: 1140px) {
  .site-logo > span {
    margin-left: 0.91rem;
    display: inline;
  }

  .nav-tabs {
    display: inline;
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  .nav-tabs > a {
    margin: 0 0 1rem 5rem;
    padding: 0.13rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #828282;
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03063rem;
    text-decoration: none;
  }

  .nav-tabs > a:first-of-type {
    margin-left: 0;
  }

  .nav-tabs > a.active {
    color: var(--theme-color);
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03063rem;
  }

  .nav-tabs > a.active > div {
    width: 5rem;
    height: 0.1875rem;
    background-color: var(--theme-color);
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    position: absolute;
    bottom: 0;
  }

  .current-user > span {
    margin-left: 0.69rem;
    color: var(--font-color);
    font-family: var(--secondary-font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.02625rem;
    display: inline;
    user-select: none;
  }

  .fa-caret-down {
    margin-left: 1.21rem;
    display: inline;
  }

  .mobile-nav-container {
    display: none;
  }

  .menu-items > div:hover,
  .menu-logout > div:hover {
    background: #f2f2f2;
  }
}
