@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --theme-color: #2f80ed;
  --background-color: #f2f2f2;
  --font-family: Noto Sans;
  --font-color: #333;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

.navbar-container {
  height: 4.26931rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  /* background-color: #fff; */

  background-color: grey;
}

.nav-login {
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02625rem;
  text-decoration: none;
}

.navbar-inner {
  width: 100%;
  max-width: 81rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
}

.site-logo > img {
  width: 2.5625rem;
  height: 1.80769rem;
  flex-shrink: 0;
}

.site-logo > span {
  display: none;
}
