@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --theme-color: #2f80ed;
  --background-color: #f2f2f2;

  --primary-font: Poppins, sans-serif;
  --secondary-font: Noto Sans, sans-serif;
  --font-color: #333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

/* ----------------------------------------------------------- navbar */
.navbar-container {
  height: 4.26931rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.navbar-inner {
  width: 100%;
  height: 100%;
  max-height: 4.26931rem;
  max-width: 81rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.site-logo {
  display: flex;
  align-items: flex-end;
  color: var(--font-color);
  font-family: var(--primary-font);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.03938rem;
  text-decoration: none;
}

.site-logo > img {
  width: 2.5625rem;
  height: 1.80769rem;
  flex-shrink: 0;
}

.site-logo > span {
  margin-left: 0.91rem;
}

.nav-tabs {
  display: none;
}

.current-user {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.current-user > img {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background: #c4c4c4;
}

.current-user > span {
  display: none;
}

.fa-caret-down {
  display: none;
}

/* ---------------------------------------------------- navbar mobile */
.mobile-nav-container {
  width: 100%;
  height: 4.26931rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  bottom: 0;
}

.mobile-nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-inner > a {
  width: 7.5rem;
  height: 2.57306rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #828282;
  border-radius: 0.5rem;
  text-decoration: none;
}

.mobile-nav-inner > a.active {
  color: var(--theme-color);
}

.mobile-nav-inner > a.active > div {
  width: 5rem;
  height: 0.1875rem;
  background-color: var(--theme-color);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  position: absolute;
  bottom: 0;
}

.fa-house,
.fa-compass,
.fa-bookmark {
  font-size: 1.2rem;
}

/* -------------------------------------------------- navbar dropdown */
.nav-dropdown {
  padding: 0.95rem 0.87rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 4.6887rem;
  border-radius: 0.75rem;
  border: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  cursor: default;
}

.menu-items {
  border-bottom: 0.0625rem solid #e0e0e0;
}

.menu-items > div,
.menu-logout > div {
  width: 10.25738rem;
  height: 2.44694rem;
  padding: 0 0.73rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-items > div:last-of-type {
  margin-bottom: 0.66rem;
}

.menu-logout {
  margin-top: 0.66rem;
}

.menu-items > div > div {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-items > div > div > i,
.menu-logout > div > div > i {
  font-size: 1rem;
}

.menu-items > div > a,
.menu-logout > div > a {
  width: 100%;
  margin-left: 0.63rem;
  color: #4f4f4f;
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02625rem;
  text-decoration: none;
  user-select: none;
}

.menu-logout > div > a,
.fa-solid.fa-arrow-right-from-bracket {
  color: #eb5757;
}

.fa-solid.fa-user-group {
  font-size: 0.8rem;
}

/* ------------------------------------------------------ home screen */
main {
  width: 100%;
  padding: 0 1rem;
  margin-top: 0.92rem;
  display: flex;
  justify-content: center;
  gap: 1.56rem;

  /* background-color: grey; */
}

main > section {
  width: 100%;
  max-width: 46.5625rem;
}

article {
  display: none;
}

/* ------------------------------------------------------- post tweet */
.post-tweet-container {
  width: 100%;
  padding: 0.68rem 0.87rem;
  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.post-tweet-container > div > h2 {
  margin: 0 0 0.46rem 0;
  color: #4f4f4f;
  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02625rem;
}

.post-tweet-container > div {
  margin-bottom: 0.54rem;
  border-bottom: 0.0625rem solid #f2f2f2;
}

.tweet-form .input-area {
  margin-bottom: 1.2rem;
  display: flex;
}

.tweet-form .input-area > div > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background: #c4c4c4;
  object-position: cover;
}

.tweet-form .preview {
  width: 100%;
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
}

.tweet-form .preview textarea {
  width: 100%;
  padding-top: 0.56rem;
  border: none;
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.035rem;
  outline: none;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

.tweet-form .preview textarea::placeholder {
  color: #bdbdbd;
}

.tweet-form .image-container {
  width: 100%;
  position: relative;
}

.tweet-form .image-container img {
  width: 100%;
  margin-top: 0.87rem;
  border-radius: 0.5rem;
  background-color: lightgray 50%;
  display: none;
  object-fit: cover;
  object-position: center;
}

.tweet-form .material-symbols-outlined.cancel {
  font-size: 1.5rem;
  color: rgba(118, 118, 118, 0.6);
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0.4rem;
  top: calc(0.87rem + 0.4rem);
  mix-blend-mode: exclusion;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 40;
}

.tweet-form .form-control {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tweet-form .form-control > div {
  margin-left: 0;
  display: flex;
}

.tweet-form .form-control input[type='file'] {
  display: none;
}

.tweet-form .form-control > div > label {
  display: flex;
  align-items: center;
}

.tweet-form .privacy {
  margin-left: 0.65rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.tweet-form .privacy > p {
  margin: 0 0 0 0.34rem;
  color: var(--theme-color);
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02625rem;
  user-select: none;
}

.material-symbols-outlined.image,
.material-symbols-outlined.public {
  color: var(--theme-color);
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.form-control button {
  width: 5.0625rem;
  height: 2rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--theme-color);
  cursor: pointer;
  color: #fff;
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02625rem;
}

button:disabled {
  opacity: 0.8;
  pointer-events: none;
}

/* ---------------------------------------------- tweet form dropdown */
.tweet-form-dropdown {
  /* width: 14.64813rem; */
  /* height: 9.70575rem; */
  padding: 0.57rem 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  cursor: default;
  top: calc(1.93rem + 0.5rem);
}

.privacy-items > div {
  width: 13.12144rem;
  height: 2.44694rem;
  padding: 0 0.73rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}

.privacy-items > div:hover {
  background: #f2f2f2;
}

.privacy-items > div > p {
  width: 5.9375rem;
  height: 1rem;
  color: #4f4f4f;
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02625rem;
}

.privacy-items > div > div {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy-items span {
  color: #333333;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tweet-form-dropdown .heading {
  margin: 0 0 0.08rem 0;
  color: #4f4f4f;
  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02625rem;
  pointer-events: none;
}

.tweet-form-dropdown .subheading {
  margin: 0 0 0.95rem 0;
  color: #828282;
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02625rem;
  pointer-events: none;
}

@media (min-width: 1140px) {
  .nav-tabs {
    display: inline;
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    gap: 5rem;
  }

  .nav-tabs > a {
    margin-bottom: 1rem;
    padding: 0.13rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #828282;
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03063rem;
    text-decoration: none;
  }

  .nav-tabs > a:first-of-type {
    margin-left: 0;
  }

  .nav-tabs > a.active {
    color: var(--theme-color);
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03063rem;
  }

  .nav-tabs > a.active > div {
    width: 5rem;
    height: 0.1875rem;
    background-color: var(--theme-color);
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    position: absolute;
    bottom: 0;
  }

  .current-user > span {
    margin-left: 0.69rem;
    color: var(--font-color);
    font-family: var(--secondary-font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.02625rem;
    display: inline;
    user-select: none;
  }

  .fa-caret-down {
    margin-left: 1.21rem;
    display: inline;
  }

  .mobile-nav-container {
    display: none;
  }

  .menu-items > div:hover,
  .menu-logout > div:hover {
    background: #f2f2f2;
  }

  main {
    margin-top: 1.62rem;
  }

  article {
    display: flex;
  }

  .post-tweet-container {
    padding: 0.68rem 1.25rem;
  }

  .tweet-form .form-control {
    margin-left: 3.25rem;
  }

  .tweet-form .input-area {
    margin-bottom: 0.75rem;
  }

  .trending-container {
    width: 19.125rem;
    height: 30.98094rem;
    border-radius: 0.75rem;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  }

  .tweet-form .image-container img {
    margin: 1.19rem 0 0.3rem 0;
  }

  .tweet-form .material-symbols-outlined.cancel {
    top: calc(1.19rem + 0.4rem);
  }
}
